<section class="user_info col-md-8 col-md-offset-2">
		<h3 class="location">
			News Feed		
		</h3>
		<h1 style="margin-top:0px; margin-bottom:0px;">
			<%= gravatar_for current_user %>
		</h1>
		<h1 style="margin-top:0px; margin-bottom:5px;">
			<%= current_user.name %>
		</h1>
</section>