<li>
  
  <h1>
  	<%= link_to gravatar_for(post.user), post.user %>
  	<%= link_to post.user.name, post.user, class: 'user_post_name' %>
  </h1>
  
  <p class="bio">
  	<%= post.content %>
    
  </p>

  <h2>
  	Posted <%= time_ago_in_words(post.created_at) %> ago.
  </h2>
  
</li>

