@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}



section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 900;
	font-size: 3em;
	margin-bottom: 30px;
	text-align: center;
	color:black;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/*home msg*/

.home-msg {
	text-align: center;
}


/* header */

#logo {
	float: left;
	margin-right: 3px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	margin-left:15px;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}


.navbar-inverse {
	background-color: rgba(34, 34, 34, 0);
	border-color: rgba(34, 34, 34, 0); 
}
a {
	color:black !important;
}

a:hover {
	color: black !important;
	text-decoration: none;
}

#signup {
	background: black;
	color: white;
	font-size: 22px;
	font-weight: 300;
	padding: 10px;
	border: none;
	border-radius: 10px;
}


.btn-info {
	background-color: black !important;
	border-color: white !important;
}

/*pop up log in and sign up boxes */

.modal-content {
	margin-top:25%;
	

}

i {
	font-size: 30px !important;
	margin-top: 10px !important;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	
}
input {
	height: auto !important;
}
.sign {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 545px;
  @include box_sizing;
}

/*user image*/

.gravatar {
	border-radius: 50%;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn-primary {
	background-color: #3FBD35;
	border-color:#3FBD35;
}

.btn-primary:hover {
	background-color: #3FBD35;
	border-color: red;
}

.location {
	text-align: center;
	color: white;
	background-color: black;
	padding: 6px;
}


.bio {
	text-align: center;
	font-size: 20px;
	border-style: solid; 
}



section {
	overflow: inherit;
}

ol {
	list-style: none;
	padding-left: 0px;
}

.user_post_name {
	
	text-align: center;
	padding: 6px;
}

.user_post_name:hover {
	color: green !important;
}

.delete_post {
	color: red !important;
}

.img-post {
	margin: auto;
}

.icon-bar {
	background-color: black !important;
}

.navbar-nav {
	background-color: white;
    border-bottom: solid;
}

.navbar-header {
	background-color: white;
}